{% extends 'layouts/main.html' %} {% block title %}New Venue{% endblock %} {%
block content %}
<div class="form-wrapper">
  <form class="form" id="form-sub">
    <h3 class="form-heading">
      List a new venue
      <a href="{{ url_for('index') }}" title="Back to homepage"
        ><i class="fa fa-home pull-right"></i
      ></a>
    </h3>
    <div class="form-group">
      <label for="name">Name</label>
      {{ form.name(class_ = 'form-control', autofocus = true) }}
    </div>
    <div class="form-group">
      <label>City & State</label>
      <div class="form-inline">
        <div class="form-group">
          {{ form.city(class_ = 'form-control', placeholder='City', autofocus =
          true) }}
        </div>
        <div class="form-group">
          {{ form.state(class_ = 'form-control', placeholder='State', autofocus
          = true) }}
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="address">Address</label>
      {{ form.address(class_ = 'form-control', autofocus = true) }}
    </div>
    <div class="form-group">
      <label for="phone">Phone</label>
      {{ form.phone(class_ = 'form-control', placeholder='xxx-xxx-xxxx',
      autofocus = true) }}
    </div>
    <div class="form-group">
      <label for="genres">Genres</label>
      <small>Ctrl+Click to select multiple</small>
      {{ form.genres(class_ = 'form-control', placeholder='Genres, separated by
      commas', autofocus = true) }}
    </div>

    <div class="form-group">
      <label for="facebook_link">Facebook Link</label>
      {{ form.facebook_link(class_ = 'form-control', placeholder='http://',
      autofocus = true) }}
    </div>

    <div class="form-group">
      <label for="image_link">Image Link</label>
      {{ form.image_link(class_ = 'form-control', placeholder='http://',
      autofocus = true) }}
    </div>

    <div class="form-group">
      <label for="website_link">Website Link</label>
      {{ form.website_link(class_ = 'form-control', placeholder='http://',
      autofocus = true) }}
    </div>

    <div class="form-group">
      <label for="seeking_talent">Looking for Talent</label>
      {{ form.seeking_talent(placeholder='Venue', autofocus = true) }}
    </div>

    <div class="form-group">
      <label for="seeking_description">Seeking Description</label>
      {{ form.seeking_description(class_ = 'form-control',
      placeholder='Description', autofocus = true) }}
    </div>
    <input
      type="submit"
      value="Create Venue"
      class="btn btn-primary btn-lg btn-block"
    />
  </form>

  <p style="color: chocolate; border: 1px solid gray; padding: 7px; border-radius: 3px; display: none; margin-top: 20px;" id="success-msg">Venue created successfully!!!</p>
</div>

<script>
  const nameInput = document.getElementById("name");
  const cityInput = document.getElementById("city");
  const stateInput = document.getElementById("state");
  const addressInput = document.getElementById("address");
  const phoneInput = document.getElementById("phone");
  const genresInput = document.getElementById("genres");
  const facebookLinkInput = document.getElementById("facebook_link");
  const imageLinkInput = document.getElementById("image_link");
  const websiteLinkInput = document.getElementById("website_link");
  const seekingTalentInput = document.getElementById("seeking_talent");
  const descriptionInput = document.getElementById('seeking_description');
  document.getElementById("form-sub").onsubmit = function (e) {
    e.preventDefault();
    const name = nameInput.value;
    const city = cityInput.value;
    const state = stateInput.value;
    const address = addressInput.value;
    const phone = phoneInput.value;
    const genres = genresInput.value;
    const facebook_link = facebookLinkInput.value;
    const image_link = imageLinkInput.value;
    const website_link = websiteLinkInput.value;
    const seeking_talent = seekingTalentInput.value;
    const description = descriptionInput.value;
    document.getElementById('success-msg').style.display = "none"
    fetch("/venues/create", {
      method: "POST",
      body: JSON.stringify({
        name: name,
        city: city,
        state: state,
        address: address,
        phone: phone,
        genres: genres,
        facebook_link: facebook_link,
        image_link: image_link,
        website_link: website_link,
        seeking_talent: seeking_talent,
        description: description,
      }),
      headers: {
        "Content-Type": "application/json",
      },
    })
      .then((response) => {
        if (response.status === 200) {
          document.getElementById('success-msg').style.display = "flex"

          nameInput.value = "";
          cityInput.value = "";
          stateInput.value = "";
          addressInput.value = "";
          phoneInput.value = "";
          genresInput.value = "";
          facebookLinkInput.value = "";
          imageLinkInput.value = "";
          websiteLinkInput.value = "";
          seekingTalentInput.value = "";
          descriptionInput.value = "";

          // document.location.href="/";
        }
        return response.json();
      })
      .then((jsonResponse) => {
        console.log(jsonResponse);
      })
      .catch((error) => {
        console.log(error);
      });
  };
</script>

{% endblock %}
